
<h3><%= @workout.name %></h3>

<% @workout.exercises.each do |exercise| %>

<ul>
<strong><li> <%=exercise.exercise_name %></li></strong>
<li> <%=exercise.notes%> </li>
</ul>
<%end%>
<br>

<a href="/workouts/<%=@workout.id%>/edit"><button class="button">Edit</button></a>

 <form method="POST" action="/workouts/<%= @workout.id %>/delete">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>

<a href="/workouts/new"><button class="button">New Workout</button></a>

